/* Basic styling */
svg {
    width: 100%;
}
.filled-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    line-height: 0.9;
}

/* Animate the background shapes */
#background path {
  animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;

  /* Necessary to keep the SVG objects in place while scaling */
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%, 100% { transform: scale(0) rotate(33deg); }
  35%, 65% { transform: scale(1) rotate(0deg); }
}

@-webkit-keyframes pulse {
    /* Rotating it along with the scale makes it a little bit more fancy */
    0%, 100% { -webkit-transform: scale(0) rotate(33deg); transform: scale(0) rotate(33deg); }
    35%, 65% { -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); }
}

@keyframes pulse {
    /* Rotating it along with the scale makes it a little bit more fancy */
    0%, 100% { -webkit-transform: scale(0) rotate(33deg); transform: scale(0) rotate(33deg); }
    35%, 65% { -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); }
}
@-webkit-keyframes showFirst {
    0%, 33% {
        opacity: 1;
    }
    33.0001%, 100% { opacity: 0; }
}
@keyframes showFirst {
    0%, 33% {
        opacity: 1;
    }
    33.0001%, 100% { opacity: 0; }
}
@-webkit-keyframes showSecond {
    33.0001%, 66% {
        opacity: 1;
    }
    0%, 33%, 66.0001%, 100% { opacity: 0; }
}
@keyframes showSecond {
    33.0001%, 66% {
        opacity: 1;
    }
    0%, 33%, 66.0001%, 100% { opacity: 0; }
}
@-webkit-keyframes showThird {
    66.0001%, 99.999% {
        opacity: 1;
    }
    0%, 66%, 100% { opacity: 0; }
}
@keyframes showThird {
    66.0001%, 99.999% {
        opacity: 1;
    }
    0%, 66%, 100% { opacity: 0; }
}
